$body-color: #F2F2F2;
$primary-color: #8400b7;
$primary-color-darker: #6D00BC;

$title-color: #292929;
 
:export {
  primaryColor: $primary-color;
  primaryDarker: $primary-color-darker;
  bodyColor: $body-color;
}
