@import "../../globals/variables.module.scss";

.baseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    outline: none;
    border-radius: 5px;

    cursor: pointer;
    color: #fff;
    transition: all .2s;

    & * {
        color: #fff;
        text-decoration: none ;
    }

    &:hover{
        filter: brightness(0.7);
    }

    &.primary { background-color: $primary-color; }

    &.igdb { background-color: #0B0013; color: #fff; }

    &.small {
        width: 164px;
        height: 36px;
    }

    &.large {
        width: 384px;
        height: 56px;
    }

    &.tall {
        width: 304px;
        height: 72px;
        font-size: 20px;
    }
}

