.label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4px;
}

.input {
    height: 36px;
    background-color: #EFEFEF;
    padding-left: 12px;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    outline: none;
    margin-bottom: 8px;
    border-radius: 2px;
}

.error {
    color: red;
    font-size: 14px;
}