@import "../../src/globals/variables.module.scss";

.authPageContainer {
    width: 100%;
    height: calc(100vh - $header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.authCard {
    width: 50%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
}