.headerContainer {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba($color: #000000, $alpha: 0.25);
}

.logoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    grid-column: 12/12;
}