@import "../../../globals/variables.module.scss";

$inputWidth: 784px;
$buttonWidth: 96px;

.searchSectionContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    align-items: center;
    height: 72px;
}

.input {
    width: $inputWidth;
    height: 100%;
    background-color: #DDDDDD;
    border: 1px solid #62626288;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding-left: 16px;
    font-size: 24px;
}

.buttonContainer {
    width: $buttonWidth;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: $primary-color-darker;
    }
}

.resultsContainer {
    width: $inputWidth + $buttonWidth;
    // background-color: #FFF;
    min-height: 72px;
    // box-shadow: 0px 1px 4px 1px #757575b6;
    
    .loaderContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #loading {
        height: 100%;
        display: block;
        text-align: center;
    }

    // & > div:last-child, & > div:last-child img {
    //     border-radius: 0 0 5px 5px;
    // }
}

.moreResults {
    background-color: #FFF;
    height: 72px;
    width: 100%;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #5C5C5C;
    }
}